.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    gap: 20px;
    font-size: 3rem;
}
.board{
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 1px solid black;
    gap: 3px;
    padding: 2px;
    background-color: black;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    border: 1px solid grey;
    background-color: white;
    cursor: pointer;
}



